<?xml version="1.0" encoding="UTF-8" ?>

<!--
Copyright 2012-2015 Norman Kluge
 
This file is part of ASGresyn.
 
ASGresyn is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.
ASGresyn is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.
You should have received a copy of the GNU General Public License
along with ASGresyn.  If not, see <http://www.gnu.org/licenses/>.
-->
	
<Configuration status="WARN">
	<Appenders>
		<Console name="Console_normal" target="SYSTEM_OUT">
			<PatternLayout pattern="%-9p{WARN=[WARNING], DEBUG=[DEBUG], ERROR=[ERROR], TRACE=[TRACE], INFO=[INFO]} %m%n"/>
		</Console>
		<Console name="Console_debug" target="SYSTEM_OUT">
			<PatternLayout pattern="%-9p{WARN=[WARNING], DEBUG=[DEBUG], ERROR=[ERROR], TRACE=[TRACE], INFO=[INFO]} %C{1}(%L): %m%n"/>
		</Console>
		<Routing name="Routing_console">
			<Routes pattern="${sys:isdebug}">
				<Route key="true" ref="Console_debug" />
				<Route key="false" ref="Console_normal" />
			</Routes>
		</Routing>
		
		<File name="File_normal" fileName="${sys:logFilename}" append="false">
			<PatternLayout pattern="%-9p{WARN=[WARNING], DEBUG=[DEBUG], ERROR=[ERROR], TRACE=[TRACE], INFO=[INFO]} %m%n"/>
		</File>
		<File name="File_debug" fileName="${sys:logFilename}" append="false">
			<PatternLayout pattern="%-9p{WARN=[WARNING], DEBUG=[DEBUG], ERROR=[ERROR], TRACE=[TRACE], INFO=[INFO]} %C{1}(%L): %m%n"/>
		</File>
		<Routing name="Routing_file">
			<Routes pattern="${sys:isdebug}">
				<Route key="true" ref="File_debug" />
				<Route key="false" ref="File_normal" />
			</Routes>
		</Routing>
	</Appenders>
	<Loggers>
		<Root level="off">
			<AppenderRef ref="Routing_console"/>
			<AppenderRef ref="Routing_file"/>			
		</Root>
	</Loggers>
</Configuration>